.idea/
/DeckBuilderData/
/bin/
/web/dist/
/build/bin
/build/libjpeg-link
/scripts/cc-static-jpeg.exe
/frontend/dist/*
!/frontend/dist/.gitkeep
/frontend/node_modules
/scripts/screenshots/node_modules
